html,
body,
header,footer,
section,
div,
ul,li,
h1,h4,
a,
h1,
p {
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei;
}
header,section,footer {
	min-width: 1300px;
	width: 100%;
}
ul {
	list-style: none;
}
button {
	border: none;
}

.nav {
	height: 60px;
	background: #eee;
	box-shadow: 1px 2px 1px #eee;
	border-bottom: 1px blue;
}

.nav .nav-logo {
	margin-left: 60px;
	float: left;
	line-height: 60px;
	font-weight: bold;
	font-size: 1.5em;
} 
.nav .nav-logo img {
	margin: 5px;
	float: left;
	width: 50px;
	height: 50px;
}


.nav ul {
	margin-right: 30px;
	line-height: 60px;
}
.nav ul li {
	padding: 0 20px;
	float: right;
}
.nav ul li:hover {
	border-bottom: 4px solid #e74f4d;
}
.nav ul li a {
	color: #000;
	text-decoration: none;
}
.nav ul li:hover a {
	color: #e74f4d;
}
.nav ul li .login {
	color: #e74f4d;
}

.container {
	height: 700px;
	background: url(images/background.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.container h1 {
	padding: 200px 0 0 100px;
	font-size: 3em;
}
.container p {
	width: 300px;
	padding: 0 0 0 100px;
	font-size: 1.5em;
}
.container button {
	margin: 20px 0 0 100px;
	width: 300px;
	height: 50px;
	background: #CC0F21;
    border-radius: 5px;
    font-size: 1.5em;
    color: #fff;
}

.benefit {
	height: 249px;
	background: #fff;
}
.benefit ul li {
	float: left;
	width: 25%;
}
.benefit ul li i {
	display: block;
    margin: 50px auto 10px;
	width: 70px;
	height: 70px;
}
.benefit ul li:nth-child(1) i{
	background: url(images/benefit.jpg) no-repeat left 0 top 0;
}
.benefit ul li:nth-child(2) i{
	background: url(images/benefit.jpg) no-repeat left 30% top 0;
}
.benefit ul li:nth-child(3) i{
	background: url(images/benefit.jpg) no-repeat left 65% top 0;
}
.benefit ul li:nth-child(4) i{
	background: url(images/benefit.jpg) no-repeat left 100% top 0;
}
.benefit ul li p {
	padding: 0 50px;
	text-align: center;
	border-right: 1px solid #000;
}

.question {
	height: 360px;
	background: #eee;
	font-size: 2em;
	color: #aaa;
}
.question img {
	margin-top: 70px;
	width: 100px;
	height: 100px;
}

.city {
	height: 340px;
	background: url(images/city.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.city h1 {
	padding: 50px 0 20px 0;
}
.city select,.city button{
	margin: 50px 20px 0 0;
	width: 200px;
	height: 30px;
}
.city select:hover {
	border: none;
}
.city select:focus {
	border: 2px solid red;
}
.city select option {
	border: none;
}
.city button {
	background: #B32C2C;
	color: #fff;	
	font-size: 1em;
}

.activity {
	height: 600px;
	background: #eee;
}
.activity ul {
	padding: 100px;
}
.activity li {
	float: left;
	margin: 0 2.5%;
	width: 20%;
    line-height: 30px;
}
.activity li img {
	width: 220px;
	height: 340px;
}
.activity li:nth-child(2n+1) {
	position: relative;
}
.activity li:nth-child(2n+1) img {
	position: absolute;
	top: 70px;
	left: 0;
}

.time {
	height: 565px;
	background: url(images/time.jpg) no-repeat;
	background-size: cover;
}

.article {
	height: 520px;
	background: url(images/article.jpg) no-repeat;
	background-size: cover;
}
.article .article1,.article2 {
	width: 430px;
	height: 100%;
}
.article .article1 {
	background: red;
}

.volunteer {
	height: 700px;
}

.contact {
	height: 350px;
	background: #777;
}

footer {
	height: 80px;
	background: #333;
}
footer p {
	margin-left: 80px;
	line-height: 80px;
}